

.login-container{
    width: 100%;
    display: flex;
    margin: 5% auto;
}
.login-container .login-paper{
    width: 60%;
    min-height: 400px;
    margin: 2% auto;
}

.login-container .fk-left-sec{
    width: 50%;  
    background-color: red;
    margin: 0;
    padding: 0;

}

.login-container .fk-right-sec{
    width: 50%;  
}

