

.login-container{
    min-height: 500px;
    width: 50%;
    display: flex;
    margin: 5% auto;
}

.left-flipkart-section, .right-flipkart-section{
    width: 50%;
}

.close-icon{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}